@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Clash Display", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.inter {
  font-family: Inter, sans-serif;
}

button {
  position: relative;
  background-repeat: no-repeat;
  cursor: pointer;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  z-index: 1;
  overflow: hidden;
}

button::before {
  content: "";
  background-color: #6180dd;
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: width 700ms ease-in-out;
  display: inline-block;
}

button:hover::before {
  width: 100%;
}

/* TExt shape added css */
